@font-face {
  font-family: "JetBrains Mono";
  src: url(../fonts/JetBrainsMono-Regular.ttf);
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: #5DCCD3;
  padding: 20px;
  font-size: 20px;
}

@media only screen and (min-width: 310px) and (max-width: 1024px) {
  body {
    padding: 0px;
    font-size: 10px;
  }
}

body a {
  text-decoration: none;
  color: black;
}

code {
  font-size: 30px;
  font-family: 'JetBrains Mono';
}

@media only screen and (min-width: 310px) and (max-width: 1024px) {
  code {
    font-size: 10px;
  }
}

ul > li {
  list-style-type: none;
}

.container {
  font-family: 'Roboto Mono', monospace;
  border-radius: 30px;
  background-color: #FAFAFA;
  width: 95%;
  height: 155vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr 40fr 1fr;
      grid-template-rows: 1fr 40fr 1fr;
      grid-template-areas: 'header header header header' 'main main main main' 'footer footer footer footer';
}

@media only screen and (min-width: 310px) and (max-width: 1024px) {
  .container {
    height: 100vh;
    width: 100%;
  }
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 2fr 7fr 1fr;
      grid-template-columns: 2fr 7fr 1fr;
  -webkit-margin-end: 5%;
          margin-inline-end: 5%;
  margin-bottom: 5%;
      grid-template-areas: "l n lin";
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: header;
  padding: 2%;
}

header > .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-ar;
      -ms-flex-pack: space-ar;
          justify-content: space-ar;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: l;
}

@media only screen and (min-width: 310px) and (max-width: 1024px) {
  header > .logo {
    margin-left: 10px;
  }
}

header > .logo > .logo_svg {
  margin: 0;
  width: 50px;
  height: 50px;
}

@media only screen and (min-width: 310px) and (max-width: 1024px) {
  header > .logo > .logo_svg {
    width: 25px;
    height: 25px;
    margin: 4px 2px 0 0;
  }
}

header > .logo > .logo_name {
  margin: 0;
}

header > nav {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: n;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media only screen and (min-width: 310px) and (max-width: 400px) {
  header > nav {
    display: none;
  }
}

header > .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: lin;
}

@media only screen and (min-width: 310px) and (max-width: 1024px) {
  header > .links {
    font-size: 10px;
  }
}

header > .links > a {
  margin: 0 16px;
}

header > .links > img {
  width: 150px;
  height: 150px;
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: main;
  margin-bottom: 3%;
}

main > .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10rem;
  font-size: 30px;
}

@media only screen and (min-width: 310px) and (max-width: 1024px) {
  main > .about {
    font-size: 10px;
    height: 5rem;
  }
}

main > .about > .photo {
  margin: 10%;
}

@media only screen and (min-width: 310px) and (max-width: 1024px) {
  main > .about > .photo {
    margin: 5px;
  }
}

main > .about > .photo > img {
  border-radius: 40%;
}

@media only screen and (min-width: 310px) and (max-width: 1024px) {
  main > .about > .photo > img {
    width: 80px;
    height: 90px;
  }
}

main > .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.topic {
  margin: 5% 3% 3% 3%;
}

.code {
  padding: 3%;
}

.quote {
  margin-top: 5%;
}

footer {
  padding: 4rem;
  background-color: #e7e7e7;
  border-radius: 0 0  30px 30px;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: footer;
}

@media only screen and (min-width: 310px) and (max-width: 1024px) {
  footer {
    padding: 1rem;
  }
}

@media only screen and (min-width: 310px) and (max-width: 1024px) {
  .logo_name {
    font-size: 10px;
  }
}

.svg_icon {
  width: 40px;
}

@media only screen and (min-width: 310px) and (max-width: 1024px) {
  .svg_icon {
    width: 20px;
  }
}

.svg_icon_lg {
  width: 100px;
}

@media only screen and (min-width: 310px) and (max-width: 1024px) {
  .svg_icon_lg {
    width: 30px;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

#react {
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  width: 150px;
  height: 150px;
}

@media only screen and (min-width: 310px) and (max-width: 1024px) {
  #react {
    width: 30px;
    height: 30px;
  }
}
/*# sourceMappingURL=style.css.map */