@font-face{
    font-family: "JetBrains Mono";
    src: url(../fonts/JetBrainsMono-Regular.ttf)
}
body{
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: #5DCCD3;
    padding: 20px;
    font-size:20px;
}
body a {
         text-decoration: none;
            color: black;
}
code {
    font-size: 30px;
    font-family: 'JetBrains Mono';
}
ul{
    & > li{
        list-style-type: none;
    }
}

.container{
    font-family: 'Roboto Mono', monospace;
    border-radius: 30px;
    background-color: #FAFAFA;
    width: 95%;
    height: 155vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 40fr 1fr;
    grid-template-areas:
    'header header header header'
    'main main main main'
    'footer footer footer footer';
}

header{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 7fr 1fr;
    margin-inline-end: 5%;
    margin-bottom: 5%;
    grid-template-areas: "l n lin";

    grid-area: header;
    padding: 2%;
    & > .logo{
        display: flex;
        align-items: center;
        justify-content: space-around;
        grid-area: l;
    }
    & > nav{
        grid-area: n;
        display: flex;
        align-items: center;
        justify-content: space-around;
        
    }
    & > .links{
        display: flex;
        align-items: center;
        justify-content: space-around;
        grid-area: lin;
        & > a{
            margin-left: 1rem;
            margin-right: 1rem;
        }
    }

}



main{
    grid-area: main;
    margin-bottom: 3%;
    & > .about{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10rem;
        font-size: 30px;
        & > .photo{
            margin: 10%;
            & > img{
                border-radius: 40%;
            }
            
        }
    }
    & > .skills{
        display: flex;
        height: 20%;
        align-items: center;
        justify-content: space-around   ;
    }
}

.topic{
    margin: 5% 3% 3% 3%;
}
.code{
    padding:3%;
}
.quote{
    margin-top: 5%;
}

footer{
    padding: 4rem;
    background-color: #e7e7e7;
    border-radius: 0 0  30px 30px;
    grid-area: footer;
}